@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Segoe UI", "Noto Sans TC", "Roboto", "Helvetica Neue", Arial,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji",
    sans-serif;
  line-height: 1.5 !important;
}
.typed-container .typed-cursor {
  @apply text-5xl;
}
.crediCard.seeBack {
  transform: rotateY(-180deg);
}
.highlight {
  border-bottom: 8px solid #2b79b4;
  font-weight: bold;
}
/* Custom task cards style */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@layer utilities {
  .animate-fadeIn {
    -webkit-animation: fadeIn 0.5s ease-in-out;
    animation: fadeIn 0.5s ease-in-out;
  }
}
@-webkit-keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
@-webkit-keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 100% 50%;
  }
}
/* Custom login style */
.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}
.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  -webkit-animation: show 0.6s;
  animation: show 0.6s;
}
.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}
.container.right-panel-active .overlay {
  transform: translateX(50%);
}
.container.right-panel-active .overlay-left {
  transform: translateX(0);
}
.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}
/* Custom rating style */
.rating {
  margin: auto;
}
.rating__stars {
  display: flex;
  position: relative;
}
.rating__star {
  display: block;
  overflow: visible;
  pointer-events: none;
  width: 2em;
  height: 2em;
}
.rating__star-body,
.rating__star-body-g,
.rating__star-shadow {
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-timing-function: var(--bezier);
  animation-timing-function: var(--bezier);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.rating__star-body {
  fill: var(--star-dim);
  transform-origin: 16px 17.45px;
  transition: fill var(--trans-dur) var(--bezier);
}
.rating__star-body-g {
  -webkit-animation-name: starShrink;
  animation-name: starShrink;
  transform: scale(0.67);
  transform-origin: 16px 31px;
}
.rating__star-shadow {
  -webkit-animation-name: starShadowShrink;
  animation-name: starShadowShrink;
  fill: hsla(var(--hue), 90%, 10%, 0.3);
  transform: scale(0.67);
  transform-origin: 16px 31px;
}
.rating--pristine .rating__star-body,
.rating--pristine .rating__star-body-g,
.rating--pristine .rating__star-shadow {
  -webkit-animation-duration: 0s;
  animation-duration: 0s;
}
.rating__label,
.rating__input {
  -webkit-tap-highlight-color: transparent;
}
.rating__label {
  cursor: pointer;
  padding: 0.1875em;
}
.rating__label--delay1 .rating__star-body,
.rating__label--delay1 .rating__star-body-g {
  -webkit-animation-delay: 0.05s;
  animation-delay: 0.05s;
}
.rating__label--delay2 .rating__star-body,
.rating__label--delay2 .rating__star-body-g {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.rating__label--delay3 .rating__star-body,
.rating__label--delay3 .rating__star-body-g {
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}
.rating__label--delay4 .rating__star-body,
.rating__label--delay4 .rating__star-body-g {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.rating__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.rating__input-1:hover ~ .rating__label:first-of-type .rating__star-body,
.rating__input-2:hover ~ .rating__label:nth-of-type(-n + 2) .rating__star-body,
.rating__input-3:hover ~ .rating__label:nth-of-type(-n + 3) .rating__star-body,
.rating__input-4:hover ~ .rating__label:nth-of-type(-n + 4) .rating__star-body,
.rating__input-5:hover ~ .rating__label:nth-of-type(-n + 5) .rating__star-body {
  fill: var(--star);
}
.rating__input-1:checked ~ .rating__label:first-of-type .rating__star-body,
.rating__input-2:checked
  ~ .rating__label:nth-of-type(-n + 2)
  .rating__star-body,
.rating__input-3:checked
  ~ .rating__label:nth-of-type(-n + 3)
  .rating__star-body,
.rating__input-4:checked
  ~ .rating__label:nth-of-type(-n + 4)
  .rating__star-body,
.rating__input-5:checked
  ~ .rating__label:nth-of-type(-n + 5)
  .rating__star-body {
  -webkit-animation-name: starSpin;
  animation-name: starSpin;
  fill: rgb(251, 251, 13);
}
.rating__input-1:checked ~ .rating__label:first-of-type .rating__star-body-g,
.rating__input-2:checked
  ~ .rating__label:nth-of-type(-n + 2)
  .rating__star-body-g,
.rating__input-3:checked
  ~ .rating__label:nth-of-type(-n + 3)
  .rating__star-body-g,
.rating__input-4:checked
  ~ .rating__label:nth-of-type(-n + 4)
  .rating__star-body-g,
.rating__input-5:checked
  ~ .rating__label:nth-of-type(-n + 5)
  .rating__star-body-g {
  -webkit-animation-name: starJump;
  animation-name: starJump;
}
.rating__input-1:checked ~ .rating__label:first-of-type .rating__star-shadow,
.rating__input-2:checked
  ~ .rating__label:nth-of-type(-n + 2)
  .rating__star-shadow,
.rating__input-3:checked
  ~ .rating__label:nth-of-type(-n + 3)
  .rating__star-shadow,
.rating__input-4:checked
  ~ .rating__label:nth-of-type(-n + 4)
  .rating__star-shadow,
.rating__input-5:checked
  ~ .rating__label:nth-of-type(-n + 5)
  .rating__star-shadow {
  -webkit-animation-name: starShadow;
  animation-name: starShadow;
}
.rating__input-2:checked
  ~ .rating__label:nth-of-type(-n + 1):hover
  .rating__star-body,
.rating__input-3:checked
  ~ .rating__label:nth-of-type(-n + 2):hover
  .rating__star-body,
.rating__input-4:checked
  ~ .rating__label:nth-of-type(-n + 3):hover
  .rating__star-body,
.rating__input-5:checked
  ~ .rating__label:nth-of-type(-n + 4):hover
  .rating__star-body {
  fill: rgb(251, 251, 13);
}
.rating__sr {
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
}
@-webkit-keyframes starJump {
  from {
    transform: translateY(0) scale(0.67, 0.67);
  }
  20% {
    transform: translateY(0) scale(0.75, 0.5);
  }
  40% {
    transform: translateY(-100%) scale(1.15, 1.15);
  }
  60% {
    transform: translateY(0) scale(1.1, 0.6);
  }
  80% {
    transform: translateY(0) scale(0.95, 1.1);
  }
  to {
    transform: translateY(0) scale(1, 1);
  }
}
@keyframes starJump {
  from {
    transform: translateY(0) scale(0.67, 0.67);
  }
  20% {
    transform: translateY(0) scale(0.75, 0.5);
  }
  40% {
    transform: translateY(-100%) scale(1.15, 1.15);
  }
  60% {
    transform: translateY(0) scale(1.1, 0.6);
  }
  80% {
    transform: translateY(0) scale(0.95, 1.1);
  }
  to {
    transform: translateY(0) scale(1, 1);
  }
}
@-webkit-keyframes starShadow {
  from {
    transform: scale(0.67, 1);
  }
  20% {
    transform: scale(0.75, 1);
  }
  40% {
    transform: scale(1.15, 1);
  }
  60% {
    transform: scale(1.1, 1);
  }
  80% {
    transform: scale(0.95, 1);
  }
  to {
    transform: scale(1, 1);
  }
}
@keyframes starShadow {
  from {
    transform: scale(0.67, 1);
  }
  20% {
    transform: scale(0.75, 1);
  }
  40% {
    transform: scale(1.15, 1);
  }
  60% {
    transform: scale(1.1, 1);
  }
  80% {
    transform: scale(0.95, 1);
  }
  to {
    transform: scale(1, 1);
  }
}
@-webkit-keyframes starShrink {
  from {
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    transform: scale(1, 1);
  }
  20% {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    transform: scale(0.6, 0.6);
  }
  40%,
  to {
    transform: scale(0.67, 0.67);
  }
}
@keyframes starShrink {
  from {
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    transform: scale(1, 1);
  }
  20% {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    transform: scale(0.6, 0.6);
  }
  40%,
  to {
    transform: scale(0.67, 0.67);
  }
}
@-webkit-keyframes starShadowShrink {
  from {
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    transform: scale(1, 1);
  }
  20% {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    transform: scale(0.6, 1);
  }
  40%,
  to {
    transform: scale(0.67, 1);
  }
}
@keyframes starShadowShrink {
  from {
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    transform: scale(1, 1);
  }
  20% {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    transform: scale(0.6, 1);
  }
  40%,
  to {
    transform: scale(0.67, 1);
  }
}
@-webkit-keyframes starSpin {
  from,
  20% {
    transform: rotate(0);
  }
  60%,
  to {
    transform: rotate(144deg);
  }
}
@keyframes starSpin {
  from,
  20% {
    transform: rotate(0);
  }
  60%,
  to {
    transform: rotate(144deg);
  }
}
/* Custom Directly */
.toggle-checkbox:checked {
  @apply: right-0 border-green-400;
  right: 0;
  border-color: #3178c6;
}
.toggle-checkbox:checked + .toggle-label {
  background-color: #3178c6;
}
/* Custom Carousel block */

.slick-dots li.slick-active button:before {
  color: #fff;
}
.slick-thumb {
  bottom: -22px;
}
.slick-thumb > li {
  width: 60px;
  margin: 0 10px;
}
/* 點點 paging 樣式 */
.slick-thumb li a img {
  box-shadow:
    rgb(0 0 0 / 69%) 0px 26px 30px -10px,
    rgb(0 0 0 / 20%) 0px 16px 10px -10px;
  width: 60px;
  height: 60px;
  -o-object-fit: cover;
  object-fit: cover;
}
.slick-thumb li a img:hover {
  border: 4px solid rgba(249, 249, 249, 0.8);
}

/* 針對沒有被選到的圖片，圖片改為灰階，並且要加上前綴詞 "-webkit-" */
.slick-thumb li.slick-active img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
.slick-thumb li img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

/* 針對上方圖片的灰階顯示做處理 */
.slick-slide:not(.slick-current) div div img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

/* 改變按鈕的背景色 */
.slick-prev:before,
.slick-next:before {
  color: #368dcf;
}

/* 改變按鈕懸停時的背景色 */
.slick-prev:hover:before,
.slick-next:hover:before {
  color: #368dcf;
}

/* 首頁輪播圖因應 Tailwind 列出所有角度 */
.rotate-0 {
  transform: rotateY(0deg) translateZ(250px);
}
.rotate-60 {
  transform: rotateY(60deg) translateZ(250px);
}
.rotate-120 {
  transform: rotateY(120deg) translateZ(250px);
}
.rotate-180 {
  transform: rotateY(180deg) translateZ(250px);
}
.rotate-240 {
  transform: rotateY(240deg) translateZ(250px);
}
.rotate-300 {
  transform: rotateY(300deg) translateZ(250px);
}

/* 修改瀏覽器滾動條 */
::-webkit-scrollbar {
  width: 16px; /* 滾動條的寬度 */
}

::-webkit-scrollbar-track {
  background: #bfdbfe; /* 整條軌道的顏色 */
}

::-webkit-scrollbar-thumb {
  background: #2b79b4; /* 單獨滑塊的顏色 */
  border-radius: 10px;
}

/* 當滑鼠 hover 在滾動條滑塊上時的樣式 */
::-webkit-scrollbar-thumb:hover {
  background: #4489be; /* 單獨滑塊的顏色 */
}

/* 發任務頁日期選擇器樣式 */

/* 選擇器整體字體大小 */
.air-datepicker {
  font-weight: 700;
}

/* 選擇器 "星期" */
.air-datepicker-body--day-name {
  color: #368dcf;
}

.air-datepicker-button:hover {
  background-color: #368dcf;
  color: #fff;
}

.air-datepicker-nav--title:hover {
  background-color: #368dcf;
  color: #fff;
}

.air-datepicker-nav--title:hover i {
  background-color: #368dcf;
  color: #fff;
}
